{% extends 'base.html' %}
{% load static %}
{% block title %}Блюда{% endblock %}

{% block content %}
<link rel="shortcut icon" href="{% static 'css/icon.png' %}" type="image/png">
<style>.logo {
    margin-top: 0; /* Убираем отступ сверху */
  }
  </style>
<link rel="stylesheet" href="{% static 'css/bluda.css' %}">
    <h3 style="text-align: center;">Список блюд</h3>
    <table style="margin-top: 10px;">
        <thead>
            <tr>
                <th style="padding: 10px; text-align: center;">Название блюда</th>
                <th style="padding: 10px; text-align: center;">Сезон</th>
                <th style="padding: 10px; text-align: center;">Тип</th>
                <th style="padding: 10px; text-align: center;">Количество порций / вес одной порции</th>
                <th style="padding: 10px; text-align: center;">Калорийность</th>
                <th style="padding: 10px; text-align: center;">Время приготовления</th>
                <th style="padding: 10px; text-align: center;">Стоимость</th>
                <th style="padding: 10px; text-align: center;">Ингредиенты</th>
                <th style="padding: 10px; text-align: center;">Оборудование</th>
            </tr>
        </thead>
        <tbody>
            {% if dishes %}
                {% for dish in dishes %}
                    <tr>
                        <td style="padding: 10px; text-align: center;">{{ dish.name }}</td>
                        <td style="padding: 10px; text-align: center;">{{ dish.season }}</td>
                        <td style="padding: 10px; text-align: center;">{{ dish.type }}</td>
                        <td style="padding: 10px; text-align: center;">{{ dish.order_set.count }} / {{ dish.weight }}</td>
                        <td style="padding: 10px; text-align: center;">{{ dish.calory }}</td>
                        <td style="padding: 10px; text-align: center;">{{ dish.timehours }}</td>
                        <td style="padding: 10px; text-align: center;">{{ dish.price_dish }}</td>
                        <td style="padding: 10px; text-align: center;">
                            {% for order in dish.order_set.all %}
                                {{ order.name.name }} (порядок - {{ order.order }}, {{ order.amount }} {{ order.name.unit }})
                                {% if not forloop.last %}, {% endif %}
                            {% empty %}
                                Нет ингредиентов
                            {% endfor %}
                        </td>
                        <td style="padding: 10px; text-align: center;">{{ dish.equip }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="6" style="text-align: center;">Нет результатов</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    

    <button onclick="exportToJson('dishes.json')">Сохранить в JSON</button>

    <script>
        var searchForm = document.getElementById('searchForm');
        var searchQueryInput = document.getElementById('searchQuery');
        var searchResults = document.getElementById('searchResults');
        var dishes = Array.from(document.querySelectorAll('tbody tr')); // Сохраняем все блюда в массив

        searchForm.addEventListener('submit', function(event) {
            event.preventDefault(); // Отменяем отправку формы

            var searchQuery = searchQueryInput.value.trim().toLowerCase();

            // Фильтруем блюда по поисковому запросу
            var filteredDishes = dishes.filter(function(dish) {
                var name = dish.querySelector('td:nth-child(1)').innerText.toLowerCase();
                var season = dish.querySelector('td:nth-child(2)').innerText.toLowerCase();
                var type = dish.querySelector('td:nth-child(3)').innerText.toLowerCase();
                var ingredients = dish.querySelector('td:nth-child(4)').innerText.toLowerCase();

                return name.includes(searchQuery) || season.includes(searchQuery) || type.includes(searchQuery)|| ingredients.includes(searchQuery);;
            });

            // Обновляем результаты поиска
            updateSearchResults(filteredDishes);
        });

        function updateSearchResults(filteredDishes) {
            searchResults.innerHTML = ''; // Очищаем предыдущие результаты

            if (filteredDishes.length === 0) {
                // Если нет результатов, показываем сообщение
                var noResultsMessage = document.createElement('p');
                noResultsMessage.textContent = 'Нет результатов';
                searchResults.appendChild(noResultsMessage);
            } else {
                // Добавляем отфильтрованные блюда в результаты поиска
                var table = document.createElement('table');
                table.innerHTML = '<thead><tr><th style="padding: 10px; text-align: center;">Название блюда</th><th style="padding: 10px; text-align: center;">Сезон</th><th style="padding: 10px; text-align: center;">Тип</th><th style="padding: 10px; text-align: center;">Количество порций / вес одной порции</th><th style="padding: 10px; text-align: center;">Стоимость</th><th style="padding: 10px; text-align: center;">Ингредиенты</th><th style="padding: 10px; text-align: center;">Оборудование</th></tr></thead><tbody></tbody>';

                var tbody = table.querySelector('tbody');
                filteredDishes.forEach(function(dish) {
                    tbody.appendChild(dish.cloneNode(true));
                });

                searchResults.appendChild(table);
            }
        }

        function exportToJson(filename) {
            var dishesData = [];

            dishes.forEach(function(dish) {
                var name = dish.querySelector('td:nth-child(1)').innerText;
                var season = dish.querySelector('td:nth-child(2)').innerText;
                var type = dish.querySelector('td:nth-child(3)').innerText;
                var servings = dish.querySelector('td:nth-child(4)').innerText;
                var price = dish.querySelector('td:nth-child(7)').innerText;
                var ingredients = dish.querySelector('td:nth-child(8)').innerText;
                var equipment = dish.querySelector('td:nth-child(9)').innerText;

                var dishData = {
                    name: name,
                    season: season,
                    type: type,
                    servings: servings,
                    price: price,
                    ingredients: ingredients,
                    equipment: equipment
                };

                dishesData.push(dishData);
            });

            var json = JSON.stringify(dishesData, null, 2);

            var element = document.createElement('a');
            element.setAttribute('href', 'data:application/json;charset=utf-8,' + encodeURIComponent(json));
            element.setAttribute('download', filename);
            element.style.display = 'none';
            document.body.appendChild(element);
            element.click();
            document.body.removeChild(element);
        }
    </script>

{% endblock %}
