{% extends 'base.html' %}
{% load static %}
{% block title %}Поиск блюд{% endblock %}

{% block content %}
    <h1>Поиск блюд</h1>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/podbor.css' %}">
    <link rel="shortcut icon" href="{% static 'css/icon.png' %}" type="image/png">
    <form method="post" action="{% url 'search_dishes' %}" class="search-form">
        {% csrf_token %}
        <div class="form-row">
            <div class="search-field">
                <label for="ingredient">Ингредиенты:</label><br>
                <select name="ingredients" class="form-control">
                    {% for choice in form.ingredients.field.choices %}
                        <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="search-field">
                <label for="season">Сезон:</label><br>
                <select name="seasons" class="form-control">
                    {% for choice in form.seasons.field.choices %}
                        <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="search-field">
                <label for="type">Тип:</label><br>
                <select name="types" class="form-control">
                    {% for choice in form.types.field.choices %}
                        <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="search-field">
                <label for="equipment">Оборудование:</label><br>
                <select name="equipment" class="form-control">
                    {% for choice in form.equipment.field.choices %}
                        <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <button type="submit">Поиск</button>
    </form>


    {% if dishes %}
        <h2 class="search-results-title">Результаты поиска:</h2>
        <table class="search-results">
            <thead>
                <tr>
                    <th>Название блюда</th>
                    <th>Сезон</th>
                    <th>Тип</th>
                    <th>Количество порций / вес одной порции</th>
                    <th>Ингредиенты</th>
                    <th>Оборудование</th>
                </tr>
            </thead>
            <tbody>
                {% for dish in dishes %}
                    <tr>
                        <td>{{ dish.name }}</td>
                        <td>{{ dish.season }}</td>
                        <td>{{ dish.type }}</td>
                        <td>{{ dish.order_set.count }} / {{ dish.weight }}</td>
                        <td>
                            {% for order in dish.order_set.all %}
                                {{ order.name.name }} ({{ order.amount }} {{ order.name.unit }})
                                {% if not forloop.last %}, {% endif %}
                            {% empty %}
                                Нет ингредиентов
                            {% endfor %}
                        </td>
                        <td>{{ dish.equip }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <button onclick="exportToJson('dishes.json')">Сохранить в JSON</button>
</body>
<script>
    // Функция для обработки выбора "Любого" элемента в каждой форме
    function handleAnySelection(selectName) {
  var selectElement = document.querySelector('select[name="' + selectName + '"]');
  var selectedOption = selectElement.options[selectElement.selectedIndex];

  if (selectedOption.value === '') {
    selectedOption.disabled = true;

    selectElement.addEventListener('change', function () {
      selectedOption.disabled = false;
    });
  }

  // Отображение блюд без ингредиентов
  var emptyIngredientDishes = Array.from(document.querySelectorAll('tbody tr')).filter(function(row) {
    var cols = row.querySelectorAll('td');
    return cols[3].innerText.trim() === 'Нет ингредиентов';
  });

  emptyIngredientDishes.forEach(function(row) {
    row.style.display = 'table-row';
  });
}

// Вызов функции для каждой формы
handleAnySelection('ingredients');
handleAnySelection('seasons');
handleAnySelection('types');
handleAnySelection('equipment');


    function exportToJson(filename) {
        var dishes = Array.from(document.querySelectorAll('tbody tr')).map(function(row) {
            var cols = row.querySelectorAll('td');
            return {
                name: cols[0].innerText,
                season: cols[1].innerText,
                servings: cols[2].innerText,
                ingredients: cols[3].innerText
            };
        });

        var json = JSON.stringify(dishes, null, 2);

        var element = document.createElement('a');
        element.setAttribute('href', 'data:application/json;charset=utf-8,' + encodeURIComponent(json));
        element.setAttribute('download', filename);
        element.style.display = 'none';
        document.body.appendChild(element);
        element.click();
        document.body.removeChild(element);
    }
</script>
{% endblock %}
